body {
	font-family: Sora, Arial;
	font-size: 24px;
	color: #ffffff;
	background-color: #222222;
	overflow: hidden;
	margin: 0px;
	-cursor: none;
}

a {
	color: #0080ff;
	text-shadow: 2px 2px 5px #0073e6;
	text-decoration: none;
}

a:hover {
	color: #4da6ff;
}

#canvas {
	color: #00000;
	position: absolute;
	-filter: sepia(40%);
	-filter: saturate(180%);
	-filter: drop-shadow(16px 16px 20px green) invert(100%) grayscale(100%);
	-filter: hue-rotate(160deg);
	-filter: grayscale(100%);
}

#filter2 {
    position: absolute;
    height: 100vh;
    -webkit-mask: radial-gradient(65vw, #0000 10%, #000);
            mask: radial-gradient(65vw, #0000 10%, #000);
    width: 110%;
	margin-left: -10%;
    backdrop-filter: blur(30px);
    -background:rgba(0, 0, 0, 0.3);
    pointer-events: none; 
}

@keyframes dotanim {
  0% {opacity: 100%;}
  50% {opacity: 100%;}
  51% {opacity: 0%;}
  100% {opacity: 0%;}
}

@keyframes startanim {
  0% {transform: translate(0px, 0px);}
  10% {transform: translate(0px, -14px);}
  20% {transform: translate(0px, 0px);}
  30% {transform: translate(0px, -7px);}
  40% {transform: translate(0px, 0px);}
  100% {transform: translate(0px, 0px);}
}