.dot1, .dot2, .dot3, .dot4 {
	position: absolute;
	z-index: 2;
	width: 4vw;
	height: 4vw;
	border-radius: 50%;
	margin-top: 60vh;
}

.dot1 {
	background-color: #000000;
	margin-left: 37vw;
	animation: dotanim1 0.4s 0.2s infinite alternate;
	box-shadow: 0px 1vh 3px #cccccc;
}

.dot2 {
	background-image: linear-gradient(330deg, #006bb3, #1affff); 
	margin-left: 44vw;
	animation: dotanim1 0.4s 0s infinite alternate;
	box-shadow: 0px 1vh 3px #cccccc;
}

.dot3 {
	background-image: linear-gradient(30deg, #00cc7a, #00ffcc); 
	margin-left: 51vw;
	animation: dotanim1 0.4s 0.3s infinite alternate;
	box-shadow: 0px 1vh 3px #cccccc;
}

.dot4 {
	background-image: linear-gradient(70deg, #e60073, #cc33ff);
	margin-left: 58vw;
	animation: dotanim1 0.4s 0.1s infinite alternate;
	box-shadow: 0px 1vh 3px #cccccc;
}

@keyframes dotanim1 {
  from {margin-top: 60vh; box-shadow: 0px 1vh 3px 3px #cccccc;}
  to {margin-top: 50vh; box-shadow: 0px 7vh 3px 0.2px #cccccc;}
}

@keyframes dotanim2 {
  from {margin-top: 60vh; box-shadow: 0px 1vh 3px 3px #cccccc;}
  to {margin-top: 35vh; box-shadow: 0px 17vh 3px 0.2px #cccccc;}
}

.option1, .option2, .option3, .option4 {
	position: absolute;
	z-index: 2;
	font-size: 1.8vw;
	width: 10vw;
	height: 7vh;
	margin-left: 75vw;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
}

.option1:hover, .option2:hover, .option3:hover, .option4:hover {
	border-style: dashed;
	border-width: 8px;
	color: #bbbbbb;
	transition: 0.5s;
}

.option1:active, .option2:active, .option3:active, .option4:active {
	border-style: dotted;
	border-width: 9px;
	color: #ffffff;
	transition: 0.5s;
}

.option1 {
	color: #ffffff;
	background-color: #000000;
	margin-top: 15vh;
	border-color: #ffffff;
}

.option2 {
	color: #ffffff;
	background-image: linear-gradient(330deg, #006bb3, #1affff);
	margin-top: 25vh;
	border-color: #4db8ff;
}

.option3 {
	color: #ffffff;
	background-image: linear-gradient(30deg, #00cc7a, #00ffcc);
	margin-top: 35vh;
	border-color: #00cc7a;
}

.option4 {
	color: #ffffff;
	background-image: linear-gradient(70deg, #e60073, #cc33ff);
	margin-top: 45vh;
	border-color: #e60073;
}

.optionsText {
	position: absolute;
	z-index: 2;
	color: #ffffff;
	font-size: 2vw;
	margin-top: 5vh;
	margin-left: 60vw;
}

.optionsText::before {
	content: "Yay! Come celebrate with us!";
}

.chatbox {
	position: absolute;
	z-index: 4;
	width: 40vw;
	height: 20vh;
	background-color: #000000;
	border-style: solid;
	border-color: #ffffff;
	border-width: 4px;
	border-radius: 2%;
	margin-left: 30vw;
	margin-top: 75vh;
	color: #ffffff;
	padding-left: 10vw;
	padding-top: 3vh;
	padding-bottom: 1vh;
	padding-right: 2vw;
	font-size: 2vw;
	animation: chatboxanim1 1s;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes chatboxanim1 {
	0% {height: 1vh; margin-top: 94vh; width: 1px; margin-left: 50vw; padding: 0px;}
	50% {height: 1vh; margin-top: 94vh; width: 40vw; margin-left: 30vw;}
	100% {height 20vh; margin-top: 75vh;}
}

@keyframes chatboxanim2 {
	0% {height 20vh; margin-top: 75vh;}
	50% {height: 1vh; margin-top: 94vh; width: 40vw; margin-left: 30vw;}
	100% {height: 1vh; margin-top: 94vh; width: 1px; margin-left: 50vw; padding: 0px;}
}

.chatdot1, .chatdot2, .chatdot3, .chatdot4, .chatSquare1, .chatSquare2, .chatTriangle1 {
	position: absolute;
	z-index: 5;
	width: 6vw;
	height: 6vw;
	margin-left: 32vw;
	margin-top: 78.5vh;
}

.chatdot1 {
	background-color: #ffffff;
	border-radius: 50%;
}

.chatdot2 {
	background-image: linear-gradient(330deg, #006bb3, #1affff);
	border-radius: 50%;
}

.chatdot3 {
	background-image: linear-gradient(30deg, #00cc7a, #00ffcc);
	border-radius: 50%;
}

.chatdot4 {
	background-image: linear-gradient(70deg, #e60073, #cc33ff);
	border-radius: 50%;
}

.chatSquare1 {
	background-color: #111111;
	box-shadow: 0px 1vh 50px #111111;
	border-radius: 5%;
}

.chatSquare2 {
	background-color: #ff0000;
	border-radius: 5%;
}

.chatTriangle1 {
	width: 0;
	height: 0;
	border-left: 3vw solid transparent;
	border-right: 3vw solid transparent;
	border-bottom: 6vw solid #00cc00;
}

@keyframes chatdotanim1 {
	from {margin-top: 78.5vh;}
	to {margin-top: 77vh;}
}

@keyframes chatdotanim2 {
	from {width: 6vw; height: 6vw;}
	to {width: 5.5vw; height: 5.5vw; margin-left: 32.25vw; margin-top: 78.75vh;}
}

@keyframes screenanim1 {
	from {background-color: #000000;}
	to {background-color: #ff0000;}
}

@keyframes screenanim2 {
	0% {background-color: #000000;}
	25% {background-color: #ff0000;}
	50% {background-color: #000000;}
	75% {background-color: #ff0000;}
	100% {background-color: #000000;}
}

@keyframes screenanim3 {
	0% {background-color: #000000;}
	17% {background-color: #ff0000;}
	34% {background-color: #000000;}
	53% {background-color: #ff0000;}
	70% {background-color: #000000;}
	87% {background-color: #ff0000;}
	100% {background-color: #000000;}
}